<div class="container text-center">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h2 class="h3 mb-3 font-weight-normal">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>

        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        <% end -%>

          <%= f.submit "Log in", class: "btn btn-md btn-primary" %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
