<div class="row">
  <div class="col-lg-2">
    <% if user_operator_or_admin? %>
      <%= link_to "Upload to Portfolio", new_portfolio_post_path, class: "tools btn btn-md btn-secondary" %>
      <% if !@editMode %>
        <%= link_to "Edit Mode", portfolio_posts_path(edit: true), class: "tools btn btn-md btn-secondary" %>
      <% else %>
        <%= link_to "Stop Editing", portfolio_posts_path, class: "tools btn btn-md btn-secondary" %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container text-center">
  <div class="row portfolio-posts">
    <%= render @portfolioPosts %>
  </div>

  <div id="infinite-scrolling">
    <%= will_paginate @portfolioPosts %>
  </div>

</div>
