  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <% if @portfolioPost.errors.any? %>
        <ul>
        <% @portfolioPost.errors.full_messages.each do |e| %>
          <li class="text-danger"><%= e %></li>
          <% end %>
        </ul>
      <% end %>
      <hr>
      <%= form_for @portfolioPost, url: {action: "create"} do |f| %>
        <%= f.file_field :pictures, multiple: true, direct_upload: true %>
        <%= f.hidden_field :title, value: "portfolio_post" %>
        <hr>
        <%= f.submit "Upload" %>
      <% end %>
    </div>
  </div>
</div>
