<div class="container text-left">
  <div class="row">
    <div class="col-lg-3">
      <% if user_operator_or_admin? %>
        <%= link_to "Write Post", new_post_path, class: "create-post-button edit-header btn btn-md btn-secondary" %>
      <% end %>
      <h4> Pinned <h4>
        <hr>
      <% unless @pinnedPosts.empty? %>
        <% @pinnedPosts.each do |p| %>
          <%= link_to p.title, post_path(p),class: "pinned-posts" %>
          <hr>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-12 col-lg-6">

      <!--
      <% unless @posts.empty? %>
        <% @posts.each do |p| %>
          <h3><%= link_to p.title, post_path(p), class: "posts" %></h3>
          <% unless p.main_picture.nil? %>
            <%= link_to (image_tag p.main_picture.variant(resize: "640x480"), class: "img-fluid"), url_for(p.main_picture) %>
            <br>
          <% end %>
          <%= p.body.truncate(150) %>
          <%= link_to "More...", post_path(p) %>
          <hr>
          <br>
        <% end %>
      <% end %>
    -->
      <div id="blog-posts">
        <%= render @posts %>
      </div>

      <div id="infinite-scrolling">
        <%= will_paginate @posts %>
      </div>
      <div id="result">
      </div>
    </div>
  </div>
</div>
