<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Navbar -->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
        <%= link_to "Index", posts_path, class: "navbar-brand" %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Create Post", new_post_path, class: "nav-link btn btn-sm btn-secondary" %>
          </li>
          &nbsp
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path(), method: :delete, class: "nav-link btn btn-sm btn-secondary" %>
          </li>
        <% end %>
        <% if !user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link ml-auto btn btn-sm btn-secondary" %>
          </li
        <% end %>
      </ul>
    </div>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if flash[:error] %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
